---
// src/components/InstagramFeed.astro
const response = await fetch(
    'https://graph.instagram.com/me/media?fields=id,caption,media_type,media_url,thumbnail_url&access_token=IGQWRQckpnTExZAdWxTamYwVk5mQ0tOMjNaR0xjUWlNLUhqR1VjRnlEZAmhsbFY1UFd4bzYxNXNaWVhoZA2ZAWMThZAeEF3RjB0MW1yTG10ZAmI4R01PYVBjSkVoQXpaS1k4aWxWemlGQjJabjdzVFRFS18zRXpvTFVzZAE0ZD'
)
const data = await response.json()
---

<main class="p-4">
    <h1 class="text-3xl font-bold mb-4 text-center">SOCIAL MEDIA</h1>

    <div class="container w-max flex justify-center flex-wrap">
        <div class="grid gap-2 grid-cols-4 w-full">
            {
                data.data.map((post) => (
                    <div
                        key={post.id}
                        class="relative overflow-hidden rounded-lg shadow-lg"
                    >
                        <img
                            src={post.media_url}
                            class="w-20 h-20 object-cover"
                        />
                        <div class="absolute inset-0 bg-black bg-opacity-25 flex items-center justify-center text-white opacity-0 hover:opacity-100 transition-opacity">
                            <p class="text-sm text-center">
                                {post.caption || 'Sin descripción'}
                            </p>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</main>
