---
import IdentificationIcon from './icons/IdentificationIcon.astro'
---

<section id="biography" class="flex flex-col gap-8 py-8">
  <h2 class="text-primary text-4xl font-extrabold shadow-lg">Biografía</h2>
  <ul>
    <li
      class="bg-gray w-full rounded-xl border-[#222222] border-[1px] flex justify-center gap-4 p-4"
    >
      <div>
        <IdentificationIcon class="stroke-white w-12 h-12" />
      </div>
      <div class="flex flex-1 flex-col justify-center items-start gap-4">
        <p class="text-white text-lg">
          Alvaro Vazquez, Dj y Percusionista nacido en Sevilla, reconocido por
          su estilo único y su capacidad para crear experiencias inolvidables en
          las pistas de baile. Con una pasión innata por la música y una
          trayectoria en constante evolución.
        </p>
        <p class="text-white text-lg">
          Desde muy joven, Alvaro Vazquez se sintió atraído por la música y
          exploró una amplia variedad de géneros. Su amor por la música comenzó
          a temprana edad de 16 años, brindando una gran experiencia musical
          para el público.
        </p>
        <p class="text-white text-lg">
          Con su estilo único y enérgico, Alvaro Vazquez fusiona lo mas
          destacado del genero urbano con la música electrónica, creando una
          atmósfera llena de energia en cada presentación.
        </p>
        <p class="text-white text-lg">
          Sigue a Alvaro Vazquez en sus redes sociales.
        </p>
        <p class="text-white text-lg">
          ¡No te pierdas la oportunidad de ser parte de su increíble viaje
          musical!
        </p>
      </div>
    </li>
  </ul>
</section>
