---
import IdentificationIcon from '@/components/icons/IdentificationIcon.astro'
---

<section id="biography" class="flex flex-col gap-8 py-8">
  <h2 class="text-primary text-4xl font-extrabold shadow-lg">Biografía</h2>
  <ul>
    <li
      class="bg-gray w-full rounded-xl border-[#222222] border-[1px] flex justify-center gap-4 p-4"
    >
      <div>
        <IdentificationIcon class="stroke-white w-12 h-12" />
      </div>
      <div class="flex flex-1 flex-col justify-center items-start gap-4">
        <p class="text-white text-lg">
  Álvaro Vázquez, DJ y percusionista originario de Sevilla, reconocido por su estilo singular y su habilidad para crear experiencias inolvidables en las pistas de baile.
</p>
<p class="text-white text-lg">
  Desde su infancia, Álvaro ha mostrado un profundo interés por la música, explorando una amplia variedad de géneros. Con 8 años de experiencia en el ámbito musical, ha logrado ofrecer actuaciones que enriquecen y cautivan al público.
</p>
<p class="text-white text-lg">
  Su estilo enérgico y distintivo le permite fusionar lo más destacado del género urbano con la música electrónica, creando una atmósfera vibrante en cada presentación.
</p>
<p class="text-white text-lg">
  ¡No se pierda la oportunidad de formar parte de su fascinante viaje musical!
</p>

      </div>
    </li>
  </ul>
</section>