---
import ContactCard from '@/components/ContactCard.astro'
import InstagramIcon from '@/components/icons/InstagramIcon.astro'
import TikTokIcon from '@/components/icons/TikTokIcon.astro'
import YouTubeIcon from '@/components/icons/YouTubeIcon.astro'

const SOCIAL_NETWORKS = [
  {
    href: 'https://www.instagram.com/alvarovazquezdj',
    name: 'Instagram',
    username: '',
    Icon: InstagramIcon
  },
  {
    href: 'https://www.youtube.com/@alvarovazquezdj',
    name: 'YouTube',
    username: '',
    Icon: YouTubeIcon
  },
  {
    href: 'https://www.tiktok.com/@alvarovazquezdj',
    name: 'TikTok',
    username: '',
    Icon: TikTokIcon
  }
]
---

<section class="mb-20 flex gap-8 flex-col">
  <h3 class="text-primary text-4xl font-bold mt-28" id="contact">Contacto</h3>
  <ul class="grid w-full grid-cols-1 lg:grid-cols-3 gap-2">
    {SOCIAL_NETWORKS.map((s, i) => <ContactCard {...s} />)}
  </ul>
</section>
