<section
  class="break-words text-white mx-auto max-w-prose md:px-2 min-h-screen"
>
  <div
    class="py-16 flex items-center justify-center flex-col text-cnter gap-y-8"
  >
    <ul>
      <li class="min-h-screen">
        <article id="alvaro" class="relative">
          <img
            class="object-contain drop-shadow-[5px_5px_100px_rgba(255,255,255,.2)] select-none"
            alt="Fotografía de Álvaro"
            src="/alvaro.webp"
          />
          <h3
            class="select-none relative bottom-48 [text-shadow:5px_0px_2px_white] uppercase text-primary leading-[.8em] text-7xl md:leading-[.8em] md:text-9xl -rotate-[10deg] italic font-black text-center"
          >
            Alvaro Vazquez
          </h3>
          <p
            class="text-5xl text-white text-center relative bottom-40 -rotate-[10deg] italic uppercase"
          >
            Percussion Live
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
