---
import InstagramIcon from '@/components/icons/InstagramIcon.astro'
import MenuIcon from '@/components/icons/MenuIcon.astro'
import YouTubeIcon from '@/components/icons/YouTubeIcon.astro'

const NAVIGATION_LINKS = [
  {
    title: 'Inicio',
    href: '/#top'
  },
  {
    title: 'Biografía',
    href: '/#biography'
  },
  {
    title: 'Galeria',
    href: '/gallery'
  },
  {
    title: 'Contacto',
    href: '/#contact'
  }
]

const SOCIAL_NETWORKS_LINKS = [
  {
    component: InstagramIcon,
    title: 'instagram',
    icon: '',
    href: 'https://instagram.com/alvarovazquezdj'
  },
  {
    component: YouTubeIcon,
    title: 'youtube',
    icon: '',
    href: 'https://www.youtube.com/@alvarovazquezdj'
  }
]
---

<aside
  class="flex flex:row items-center justify-between xl:justify-center text-primary px-4 xl:pb-20 xl:sticky xl:top-0 xl:flex-col xl:min-h-screen w-full"
>
  <a href="/#top" class="w-full h-full xl:h-auto py-6 hidden xl:block">
    <img src="/logo.webp" alt="Logo" />
  </a>

  <input type="checkbox" id="menu" hidden class="peer select-none" />
  <button
    id="menu-btn"
    class="bg-zinc-800 w-8 h-8 p-2 border-zinc-500 flex items-center justify-center rounded-full border fixed right-4 bottom-4 xl:relative z-50 xl:hidden peer-checked:[&>.first]:hidden peer-checked:[&>.last]:block cursor-pointer hover:scale-125 transition hover:border-white"
  >
    <MenuIcon />
  </button>

  <nav
    id="navbar"
    class="min-h-screen last fixed top-0 left-0 pointer-events-none opacity-0 peer-checked:opacity-100 peer-checked:pointer-events-auto right-0 z-40 flex py-12 px-8 bg-black/30 backdrop-blur-lg xl:bg-transparent text-center xl:opacity-100 xl:pointer-events-auto xl:min-h-0 xl:relative xl:px-0 justify-center flex-col xl:backdrop-blur-0 xl:mt-1 transition-opacity xl:transition-all"
  >
    <ul class="flex flex-col gap-y-8 mb-20">
      {
        NAVIGATION_LINKS.map(({ title, href }, i) => {
          return (
            <li>
              <a
                href={href}
                class="relative py-3 leading-tight font-extrabold text-xl transition hover:text-[#b941fa] xl:text-2xl"
              >
                {title}
              </a>
            </li>
          )
        })
      }
    </ul>

    <div class="flex flex-row items-center justify-center gap-4 py-2">
      {
        SOCIAL_NETWORKS_LINKS.map(({ component: Icon, href, title }, i) => {
          return (
            <a
              class="text-white hover:scale-125 transition-all hover:text-primary"
              href={href}
              target="_blank"
              rel="noopener noreferrer"
            >
              <span aria-label={title}>
                <Icon />
              </span>
            </a>
          )
        })
      }
    </div>
  </nav>
</aside>

<script>
  const menuBtn = document.getElementById('menu-btn') as HTMLButtonElement
  const menu = document.getElementById('menu') as HTMLInputElement

  menuBtn.addEventListener('click', () => {
    if (menu !== null) menu.checked = !menu.checked
  })
</script>
