---
import Background from '@/components/Background.astro'
import Navigation from '@/components/Navigation.astro'
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web Oficial" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/alvarovazquezdj.ico"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Background />
    <main>
      <div
        class="flex flex-col xl:flex-row justify-between m-auto xl:gap-x-24 xl:w-[1500px] mt-10 xl:mt-0"
      >
        <div class="w-full xl:w-80">
          <Navigation />
        </div>

        <main class="flex-1 relative px-6 scroll-smooth">
          <slot />
        </main>
      </div>
    </main>
  </body><style is:global>
    body {
      background-image: url(/background.gif);
      background-repeat: no-repeat;
      background-size: contain;
    }
  </style>
</html>
